
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Maxim</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li (click)="toggleMobileNav()"><a routerLink="/" class="nav-link scrollto active" href="#hero">Home</a></li>
        <li (click)="toggleMobileNav()"><a routerLink="/about" class="nav-link scrollto" href="#about">About</a></li>
        <li (click)="toggleMobileNav()"><a routerLink="/services" class="nav-link scrollto" href="#services">Services</a></li>
        <li (click)="toggleMobileNav()"><a routerLink="/portfolio" class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
        <li (click)="toggleMobileNav()"><a routerLink="/team" class="nav-link scrollto" href="#team">Team</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul class="dropdown-active">
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul class="dropdown-active">
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="contact" >Contact</a></li>
      </ul>
      <i class="bi mobile-nav-toggle bi-list" (click)="toggleMobileNav()"></i>
    </nav>
  </div>
  <div class="mobile-nav" [ngClass]="{'active': isMobileNavOpen}" >
    <!-- Include your navigation links here -->
    <!-- <ul> -->
      <!-- <i class="bi mobile-nav-toggle bi-x" (click)="toggleMobileNav()"></i> -->
      <li (click)="toggleMobileNav()"><a class="nav-link scrollto active" href="#hero">Home</a>
      <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#about">About</a></li>
      <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#services">Services</a></li>
      <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
      <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#team">Team</a></li>
      <li class="dropdown"><a href="#" (click)="toggle()"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
        <div class="dropdown-container">
          <div *ngIf="display">
        <!-- <ul class="dropdown-active"> -->
          <li (click)="toggleMobileNav()"><a href="#">Drop Down 1</a></li>
        
          <div>
          <li class="dropdown"><a href="#" (click)="deepToggle()"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
            <!-- <ul class="dropdown-active"> -->
              <div class="dropdown-container">
                <div *ngIf="displayy">
              <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 1</a></li>
              <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 2</a></li>
              <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 3</a></li>
              <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 4</a></li>
              <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 5</a></li>
            <!-- </ul> -->
            </div>
            </div>
          </li>
          </div>
          <li><a href="#">Drop Down 2</a></li>
          <li><a href="#">Drop Down 3</a></li>
          <li><a href="#">Drop Down 4</a></li>
        <!-- </ul> -->
      <!-- </li> -->
      <!-- Add the rest of your links here -->
    <!-- </ul> -->
  </div> 
<!-- </header> -->
<!-- <div class="mobile-nav" [ngClass]="{'active': isMobileNavOpen}" >
    Include your navigation links here -->
  <!-- <ul> -->
    <!-- <i class="bi mobile-nav-toggle bi-x" (click)="toggleMobileNav()"></i>
    <li (click)="toggleMobileNav()"><a class="nav-link scrollto active" href="#hero">Home</a></li>
    <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#about">About</a></li>
    <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#services">Services</a></li>
    <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
    <li (click)="toggleMobileNav()"><a class="nav-link scrollto" href="#team">Team</a></li>
    <li class="dropdown"><a href="#" (click)="toggle()"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
      <div class="dropdown-container">
        <div *ngIf="display"> -->
      <!-- <ul class="dropdown-active"> -->
        <!-- <li (click)="toggleMobileNav()"><a href="#">Drop Down 1</a></li>
      
        <div>
        <li class="dropdown"><a href="#" (click)="deepToggle()"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a> -->
          <!-- <ul class="dropdown-active"> -->
            <!-- <div class="dropdown-container">
              <div *ngIf="displayy">
            <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 1</a></li>
            <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 2</a></li>
            <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 3</a></li>
            <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 4</a></li>
            <li (click)="toggleMobileNav()"><a href="#">Deep Drop Down 5</a></li>
          </ul> -->
          <!-- </div>
          </div>
        </li>
        </div>
        <li><a href="#">Drop Down 2</a></li>
        <li><a href="#">Drop Down 3</a></li>
        <li><a href="#">Drop Down 4</a></li> -->
      <!-- </ul> -->
    <!-- </li> -->
    <!-- Add the rest of your links here -->
  <!-- </ul> -->
<!-- </div> -->