<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
        iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row no-gutters justify-content-center" data-aos="fade-up">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="email mt-4">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone mt-4">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>

        </div>

      </div>

      <div class="col-lg-5 d-flex align-items-stretch">
        <iframe style="border:0; width: 100%; height: 270px;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
          frameborder="0" allowfullscreen></iframe>
      </div>

    </div>

    <div class="row mt-5 justify-content-center" data-aos="fade-up">
      <div class="col-lg-10">
        <form [formGroup]="emailForm" (ngSubmit)="submitMyForm()">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" formControlName="Name"
                placeholder="Your Name" required style=" text-align: center;">
                <span *ngIf=" emailForm.touched && emailForm.controls['Name'].hasError('required')"><b style="color: red;">Name is required</b></span>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <label for="exampleFormControlSelect1"></label>
               <input type="text" formControlName="email" name="email" class="form-control" placeholder="email" required>
               <!-- <div *ngIf="emailForm.touched && emailForm.controls['email'].hasError('required')" class="error message">
                <b style="color: red;">email is required</b> -->
                <span *ngIf=" emailForm.touched && emailForm.controls['email'].hasError('required')"><b style="color: red;">Email is required</b></span>
               <span *ngIf=" emailForm.touched && emailForm.controls['email'].hasError('pattern')"><b style="color: red;">invalid format</b></span>
               
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" formControlName="subject"
              placeholder="Subject" required>
              <span *ngIf=" emailForm.touched && emailForm.controls['subject'].hasError('required')"><b style="color: red;">Subject is required</b></span>
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">
              <textarea class="form-control" name="message" rows="5" formControlName="message" placeholder="Message"
                required style="width: 106px;"></textarea>
                <span *ngIf=" emailForm.touched && emailForm.controls['message'].hasError('required')"><b style="color: red;">Message is required</b></span>
            </label>
          </div>
          <div class="my-3">
            <div class="loading"></div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <!-- <div class="text-center"><button  type="submit" [disabled]="!isDisabled"(input)="onInput($event)" (click)="loginUser()">Send Message</button> -->
          <div class="text-center"><button type="submit" [disabled]="emailForm.invalid" (click)="Email_send()">Send
              Message</button>
            
          </div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->